/*
    place extra stylesheet here
*/
#DocumentInformation {
    position: static;
    top:0;
    left:0;
}

#Pages {
    position: static;
    top:0;
    left:0;
    padding-bottom: 1em;

}

main {
    position: static;
    padding-top: 0.25em;
    padding-bottom: 1em;
}

footer {

    font-size: x-small;
    text-align: right;
    padding-top: 2em;
}

.Page {
padding-bottom: 0.5 em;

}

.ImageContainer img {
    border: solid 2px #999;
}
