/*
    place extra stylesheet here
*/
#DocumentInformation {
    position: fixed;
    top:0;
    left:0;
}

#Pages {
    position: fixed;
    top:0;
    left:0;

}

footer {
    position:relative;
    visibility: hidden;
    font-size: x-small;
    text-align: right;
}

.Page {
    position: fixed;
    top:0;
    left:0;

}

.ImageContainer img {
    border: solid 2px #999;
}
